<div class="sb_general">
    <div class="row">
        {{ partial "navigation" }}
    </div>
    <div class="sb_content_wrapper">
        {{outlet}}
    </div>
    <div class="sb_content_wrapper">

    </div>
</div>

