<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Sagebrew</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/ember/questions/">Questions</a></li>
  </ul>
  <form action="" class="navbar-form navbar-right">
    <div class="input-group">
      <input type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</nav>